@font-face {
    font-family: '1942_report1942_report';
    src: url('../fonts/1942-webfont.eot');
    src: url('../fonts/1942-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/1942-webfont.woff') format('woff'),
         url('../fonts/1942-webfont.ttf') format('truetype'),
         url('../fonts/1942-webfont.svg#1942_report1942_report') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face { font-family: 'action_manregular';
    src: url('../fonts/Action_Man-webfont.eot');
    src: url('../fonts/Action_Man-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Action_Man-webfont.woff2') format('woff2'),
         url('../fonts/Action_Man-webfont.woff') format('woff'),
         url('../fonts/Action_Man-webfont.ttf') format('truetype'),
         url('../fonts/Action_Man-webfont.svg#action_manregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*******Base style********/
body {
    background-color: #D4E2E1;
    color: black;
}
/*******HEADER*******/
#header_nav {
    background-color: black;
    border-radius: 0;
    border: 0;
}
#logo {
    background: url('../images/logo.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 2px 5px 2px 0;
}
.navbar-brand {
    padding-top: 25px;
}
.navbar-brand h1 { /*Food LLC*/
    font-family: 'action_manregular';
    color: #F2F5ED;
    font-size: 2.0em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #DEE0DB;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
/*******MENU-LIST*******/
#menu-list {
    margin-top: 5px;
}
#menu-list a {
    color: #F2F5ED;
    text-align: center;
    font-size: 1.2em;
    font-family: 'action_manregular';
}
.wrap {
    width: 120px;
    text-align: left;
    display: inline-block; 
}

#menu-list a:hover {
    background: #D4E2E1;
    color:black;
}
#menu-list a span {
    font-size: 1em;
    
}
span.block {
    display: inline-block;
    width: 80%;
    text-align: center;
}
/******* END MENU-LIST*******/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid #DEE0DB;
}
.navbar-header button.navbar-toggle {
    clear: both;
}
/*******END HEADER*******/

/*******MAIN*******/
h1 {
margin-bottom: 20px;
text-align: center;
font-family: 'action_manregular';
font-weight: bold;
}

h3 {
    text-align: center;
    font-family: 'action_manregular';
}
.well {
    border: 2px solid #D4E2E1;
    background-color: #F2F5ED;
    font-family: 'action_manregular';
    text-align: justify;
    margin-bottom: 10px;
}
.well a {
    display: block;
    text-align: center;
}
.well a:hover, .well a:focus {
    text-decoration: none;
    color: black;
}
/*******END MAIN*******/

/*******Large device only********/
@media (min-width: 1200px) {
    }
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    }
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
#logo {
    background: url('../images/logo.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 2px 5px 2px 0;
        }
      
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
.navbar-brand {
    padding-top: 10px;
    height: 50px;
        }
    .navbar-brand h1 { /*Food LLC*/
    font-size: 5vw; /* 1vw = 1% of viewport width */
        }
}
